@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');

*, *::before {
  box-sizing: border-box;
}

.logo.yew:hover {
  filter: drop-shadow(0 0 2em #20a88a);
}
:root {
  font-family: 'Open Sans', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {margin: 0; height: 100%; overflow: hidden}

.select-language {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
}

.select-language h2 {
  font-size: 2rem;
  box-shadow: 0 15px 16px -16px #1a18;
  padding: 0.6rem;
  white-space: pre-line;
}


.language-button {
  background-size: 100% 100%;
  padding: 1.2rem;
  box-shadow: inset 1.5rem 0 1.5rem white, inset -1.5rem 0 1.5rem white, inset 0 1.5rem 1.5rem white, inset 0 -1.5rem 1.5rem white;
  font-size: 2rem;
  max-width: 100%;
  width: 50vh;
  transition: transform .1s ease-out;
}

.language-button > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-radius: 1rem;
  cursor: pointer;
  padding-left: 1rem;
  transition: transform .1s ease-out;
}

.language-button > div:hover {
  background: #fffe;
}

.language-button.selected  {
  transform: scale(1.05);
}

.language-button.selected > div {
  transform: translateY(-0.2rem);
}

.language-button > div > img {
  height: 2rem;
  border: thin solid #eeee;
  cursor: pointer;
}

.language-button > div > .go {
  color: #888;
  align-self: stretch;
  padding: 1rem;
  border-radius: 0px 1rem 1rem 0px;
  border-left: thin solid #888;
  font-size: 1.5rem;
}

.language-button > div > .go-placeholder {
  color: transparent;
  padding: 1rem;
  border-left: thin solid transparent;
  font-size: 1.5rem;
}

.border-text {
  /* text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, */
  /*              1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff; */
  text-shadow: 0 0 5px white;
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: black;
}

.big-card {
  position: relative;
  width: 100vmin;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-size: 100% 100%;
  box-shadow: inset 6rem 0 6rem white, inset -6rem 0 6rem white;
}

.big-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff9;
  z-index: 1;
}

.big-card > * {
  z-index: 2;
}


.full-square {
  margin: auto;
  width: 100vmin;
  height: 100vmin;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-size: 100% 100%;
  box-shadow: inset 25vmin 0 25vmin white, inset -25vmin 0 25vmin white, inset 0 25vmin 25vmin white, inset 0 -25vmin 25vmin white;
}

.spell-letters {

}

.bank {
  display: flex;
  gap: 0.5vmin;
  font-family: monospace;
  font-size: 5vmin;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.bank.selectable {
  font-size: 5vmin;
  justify-content: center;
}

.bank > span {
  width: 8vmin;
  height: 8vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  border: thin solid black;
  border-radius: 0.5vmin;
  cursor: default;
}

.bank.selectable > span {
  width: min(8vh, 12vmin);
  height: min(8vh, 12vmin);
}

.bank > span.empty {
  border-color: #0002;
}

.bank > span.fail {
  background-color: #f774;
}

.bank > span.done {
  background-color: #0001;
  border-color: transparent;
}

.bank.selectable > span {
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0 0 5px white, inset 0 0 10px white, inset 0 0 20px white, inset 0 0 30px white, inset 0 0 40px white;
  background-size: 100% 100%;
  padding-bottom: 10px;
  position: relative;
  gap: 10px;
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff9;
  z-index: 1;
}

.card > * {
  z-index: 2;
}

.card > img {
  max-width: 90px;
  aspect-ratio: 1 /1;
}

.card > span {
  font-weight: 600;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
}
